.blocoPerfil {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000000; 
    background-color: #9191912f; 
    width: 20%;
    height: 45vh;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease;
  }
  
  .blocoPerfil:hover {
    transform: scale(1.07); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  }
  
  .img {
    width: 12vw;
    height: 30h;
    border-radius: 5%;
    margin-bottom: 20px;
    border: 2px solid black;
  }

.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}