body{
    margin: 0;
    padding: 0;
}

.mainPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
   gap: 2vw;
    flex-wrap: wrap;
   
}


.h1{
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 3vw;
    font-size: 1.8em;
}
